[Unit]
Description=Tengine - high performance web server
Documentation=http://tengine.taobao.org/
After=network.target remote-fs.target nss-lookup.target
 
[Service]
Type=forking
PIDFile=/run/tengine.pid
ExecStartPre=/usr/sbin/tengine -t -c /etc/tengine/tengine.conf
ExecStart=/usr/sbin/tengine -c /etc/tengine/tengine.conf
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true
 
[Install]
WantedBy=multi-user.target
