[Unit]
Description=Apache ZooKeeper
After=network.target
ConditionPathExists=/etc/zookeeper/zoo.cfg
ConditionPathExists=/etc/zookeeper/log4j.properties

[Service]
Type=forking
User=zookeeper
SyslogIdentifier=zookeeper
WorkingDirectory=/var/lib/zookeeper
ExecStart=/usr/bin/zkServer.sh start zoo.cfg
ExecStop=/usr/bin/zkServer.sh stop

User=zookeeper
Group=hadoop
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target
