[Unit]
Description=Spotify is a commercial music streaming service providing digital rights management–restricted[4] content from record labels including Sony, EMI, Warner Music Group and Universal.[5][6] Music can be browsed or searched by artist, album, genre, playlist, or record label. Paid "Premium" subscriptions remove advertisements and allow users to download music to listen to offline.[7] On computers, a link allows users to purchase selected material via partner retailers.
Documentation=https://www.spotify.com/
After=network.target remote-fs.target nss-lookup.target
 
[Service]
Environment=DISPLAY=:0
Type=simple
ExecStart=/opt/spotify/spotify-client/spotify
PrivateTmp=true
 
[Install]
WantedBy=multi-user.target
