[Unit]
Description=Packetbeat
Documentation=https://www.elastic.co/guide/en/beats/packetbeat/current/index.html
Wants=network-online.target
After=network-online.target

[Service]
User=packetbeat
ExecStart=/usr/bin/packetbeat -c /etc/packetbeat/packetbeat.yml
Restart=always

[Install]
WantedBy=multi-user.target