[Unit]
Description=Metricbeat
Documentation=https://www.elastic.co/guide/en/beats/metricbeat/current/index.html
Wants=network-online.target
After=network-online.target

[Service]
User=metricbeat
ExecStart=/usr/bin/metricbeat -c /etc/metricbeat/metricbeat.yml
Restart=always

[Install]
WantedBy=multi-user.target