[Unit]
Description=HHVM virtual machine, runtime, and JIT for the PHP language
Documentation=http://www.hhvm.com/
After=network.target remote-fs.target nss-lookup.target
 
[Service]
User=hhvm
Group=hhvm
PIDFile=/var/run/hhvm/hhvm.pid
ExecStart=/usr/bin/hhvm --user hhvm --mode daemon
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true
 
[Install]
WantedBy=multi-user.target
