[Unit]
Description=Varnish Cache HTTP accelerator NCSA logging daemon
After=varnish5.service

[Service]
RuntimeDirectory=varnishncsa
Type=forking
PIDFile=/var/run/varnishncsa/varnishncsa.pid
User=varnish
Group=varnish
ExecStart=/usr/bin/varnishncsa -a -w /var/log/varnish/varnishncsa.log -D -n /var/lib/varnish -P /var/run/varnishncsa/varnishncsa.pid
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target