module ulyaoth 1.0;

require {
        type httpd_t;
        type httpd_config_t;
        class file execute;
}

#============= httpd_t ==============
allow httpd_t httpd_config_t:file execute;