module ulyaoth-nginx-module-passenger5 1.0;

require {
        type passenger_exec_t;
        type fs_t;
        type passenger_t;
        type httpd_config_t;
        class tcp_socket accept;
        class filesystem getattr;
        class dir { getattr search };
}

#============= passenger_t ==============

#!!!! This avc is allowed in the current policy
allow passenger_t fs_t:filesystem getattr;
allow passenger_t httpd_config_t:dir { getattr search };
allow passenger_t passenger_exec_t:dir { getattr search };

#!!!! This avc is allowed in the current policy
allow passenger_t self:tcp_socket accept;